.first{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;

}

a:link{
    text-decoration: none;
    color:black;
}

.list{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    list-style: none;
    align-items: center;
    margin-right: 50 px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

a:hover{

    font-size: 25px;
}
a:unvisited{
    color:black;
}
.last{
    display: flex;
    justify-content: space-around;

}

.bt1{
    background-color: white;
    color: black;
    font-size: 15px;
    height: 30px;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 12px;
    margin-right: 20px;
}

.bt1:hover{
    background-color: black;
    color: white;

}
.bt2{
    background-color: black;
    color: white;
    font-size: 15px;
    height: 30px;
    width: 80px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 12px;
}

.bt2:hover{
    background-color: white;
    color: black;
}